<!DOCTYPE HTML>
<html>
<head>
<title>Gallery</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Apparatus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="js/jquery-1.11.1.min.js"></script>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!---End-smoth-scrolling---->
 
</head>
<body>
<!----header-banner--->
		<div class="header head-top">
			<div class="container">
				<div class="header-top">
					<div class="logo">
						<a href="index.html">appara<span>tus</span></a>
					</div>
						<div class="social-icons">
							<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
										<a href="#"><i class="icon3"></i></a>
												<a href="#"><i class="icon4"></i></a>
						</div>	
							<div class="clearfix"></div>
				</div>
				<div class="top-menu">
					<span class="menu"><img src="images/menu.png" alt=""/>  </span>
						<ul>
							<li><a href="index.html">home</a></li>
								<li><a href="about.html">about</a></li>
									<li><a href="services.html">services</a></li>
										<li><a href="gallery.html" class="active">gallery</a></li>
											<li><a href="blog.html">blog</a></li>
												<li><a href="contact.html">Contact</a></li>
												<!-- script for menu -->
							<script>
							 $("span.menu").click(function(){
							 $(".top-menu ul").slideToggle("slow" , function(){
							 });
							 });
							 </script>
							<!-- //script for menu -->

												<div class="clearfix"></div>
					</ul>
				</div>
			</div>
		</div>
	<div class="container">
	<div class="gallery">
		<h3>gallery</h3>
		<div class="products-bottom">
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p7.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p7.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>			
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p8.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p8.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>
			<div class="col-md-4 work-grid">	
				<div id="nivo-lightbox-demo">			
					<a  href="images/p9.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p9.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>	
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p10.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p10.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p11.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p11.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p12.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p12.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p13.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p13.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p14.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p14.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>	
			<div class="col-md-4 work-grid">
				<div id="nivo-lightbox-demo">			
					<a  href="images/p15.jpg" data-lightbox-gallery="gallery1" id="nivo-lightbox-demo">			   
						<img src="images/p15.jpg" class="img-responsive " alt=""/>
						<div class="rotate">
							<i> </i>	
						</div>				
					 </a> 
				</div>
			</div>				
			<div class="clearfix"> </div>	
		</div>
	</div>
	<!--script-->
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css">
			<script type="text/javascript" src="js/nivo-lightbox.min.js"></script>
				<script type="text/javascript">
				$(document).ready(function(){
				    $('#nivo-lightbox-demo a').nivoLightbox({ effect: 'fade' });
				});
				</script>

			<!---->

</div>


		<div class="footer-section">
						<div class="container">
							<div class="footer-top">
						<p>Copyright &copy; 2015.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
									</div>
							<script type="text/javascript">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'toTop', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear' 
					 		};
							*/
							
							$().UItoTop({ easingType: 'easeOutQuart' });
							
						});
					</script>
				<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
				</div>
			</div>

</body>
</html> 